.DS_Store
/indecision-app/node_modules
/expensify-app/node_modules
/boilerplate-v1/node_modules
/portfolio-app/node_modules
/expensify-app/src/tests/components/__snapshots__
/expensify-app/public/dist/
